{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="header-container no-margins no-padding">
    <div class="col-12 text-center dark-trans-bg strip-div">
        <p class="landing-text white-text">Support my artwork by purchasing merch</p>
        <div class="text-center">
            <a href="{% url 'home' %}" class="main-logo-link no-margins">
                <h2 class="my-0 btn btn-success">Here</h2>
            </a>
        </div>
    </div>
</div>
<div class="container h-100 view-gallery">
    <div class="row h-100">
        <div class="col-12 my-auto dark-trans-bg">
            <h4 class="text-center">
                <a href="" class="gallery-link-text btn btn-lg py-3">Click here to view my tattoo gallery!</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}