{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="header-container no-margins no-padding gallery-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="text-center">
          <a class="btn btn-dark m-1 return-button" href="{% url 'gallery' %}">Return to Gallery</a>
        </div>
        <div class="card">
          <form>

            <div class="form-group m-3">
              <label>Description</label>
              <input name="description" type="text" placeholder="Enter Tattoo description here"
                class="form-control-file">
            </div>

            <div class="form-group m-3">
              <label>Select a Category</label>
              <select name="category" class="form-control-file">
                <option value="none">Select a Category...</option>
                {% for category in categories %}

                <option>{{category.name}}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group m-3">
              <label>Upload Image</label>
              <input name="image" type="file" class="form-control-file">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}