{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="header-container no-margins no-padding header-pushdown black-bg">
  <div class="row no-margins no-padding">
    <div class="col-md-3 no-padding">

      <div class="card category-nav">
        <div class="card-header category-nav-header">
          Tattoo Categories
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="category-nav-text" href="{% url 'gallery' %}">All</a>
          </li>
          {% for category in categories %}

          <li class="list-group-item">
            <a class="category-nav-text" href="{% url 'gallery' %}?category={{category.name}}">
              {{category.name}}</a>
          </li>

          {% endfor %}
          <li class="list-group-item"><a class="add-photo-nav-text" href="{% url 'addTattoo' %}">Add Photo</a></li>
        </ul>
      </div>

    </div>
    <div class="col-md-9">

      <div class="row">

        {% for tattoo in tattoos %}
        <div class="col-md-4 no-padding">
          <div class="card">
            <img class="image-thumbnail" src="{{tattoo.image.url}}" alt="Card image cap">
            <div class="card-body">
              <p>Category- {{tattoo.category}}</p>
              <p> {{tattoo.description}}</p>
              <a class="btn btn-outline-dark m-1" href="{% url 'tattoo' tattoo.id %}">View Tattoo</a>
            </div>
          </div>
        </div>
        {% empty %}
        <h3>No Photos</h3>
        {% endfor %}

      </div>


    </div>
  </div>
</div>
{% endblock %}