{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="header-container no-margins no-padding gallery-container">
  <div class="row">
    <div class="col-md-3">

      <div class="card">
        <div class="card-header">
          Tattoo Categories
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">All</li>
          {% for category in categories %}

          <li class="list-group-item">{{category.name}}</li>

          {% endfor %}
        </ul>
      </div>

    </div>
    <div class="col-md-9">

      <div class="row">

        {% for tattoo in tattoos %}
        <div class="col-md-4">
          <div class="card">
            <img class="image-thumbnail"
              src="{{tattoo.image.url}}"
              alt="Card image cap">
            <div class="card-body">
              <p>Category- {{tattoo.category}}</p>
              <p> {{tattoo.description}}</p>
              <a class="btn btn-outline-dark m-1" href="{% url 'tattoo' 5 %}">View Tattoo</a>
            </div>
          </div>
        </div>
        {% empty %}
        <h3>No Photos</h3>
        {% endfor %}

      </div>


    </div>
  </div>
</div>
{% endblock %}