{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="header-container no-margins no-padding black-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                
                <div class="tattoo-image-div text-center">
                    <img class="tattoo-image" src={{tattoo.image.url}} alt="image of a tattoo done by Jake Hunt">

                    <p class="tattoo-text white-text">{{tattoo.description}}</p>
                </div>

                <div class="text-center">
                    <a class="btn btn-dark m-1 return-button" href="{% url 'gallery' %}">Return to Gallery</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}