/* text */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.logo-text {
    font-family: 'Bona Nova', serif;
    font-size: 2.5em;
}

.nav-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

.white-text {
    color: #ffffff !important;
}

.gallery-link-text {
    color: #ffffff;
    font-size: 1.2em;
}

.tattoo-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* icons */

.nav-icons {
    color: #8310ff;
}

/* images and image divs */

.image-thumbnail {
    height: 200px;
}

.tattoo-image-div {

}

.tattoo-image {
    max-width: 100%;
    height: 60vh;
}

/* buttons */

.search-btn {
    background-color: #8310ff;
}

.nav-item:hover {
    background-color: #8310ff;
}

.view-gallery {
    width: 50%;
    margin-top: 100px;
}

.return-button {
    margin-bottom: 20px;
}

/* background colours */

.black-bg {
    background-color: #000000;
}


.purple-bg {
    background-color: #3e054d;
}

.dark-trans-bg {
    background-color: rgba(0, 0, 0, 0.9);
}


/* general */

.no-padding {
    padding: 0px;
}

body {
    background: url('/media/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
}

.landing-text {
    padding-top: 20px;
    font-size: 1.5em;
}

.strip-div {
    padding-bottom: 15px;
}

.btn-success {
    width: 150px;
    font-size: 2em;
}

.header-pushdown {
    margin-top: 200px;
}

.home-container {
    margin-top: 200px;
}

/* media queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 50px;
    }
}