<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link text-white mr-5" href="">
                Tattoo Gallery
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white mr-5" href="">
                Artwork
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white mr-5" href="">
                Merch
            </a>
        </li>
    </ul>
</div>